/* 
    Document   : main
    Created on : Jul 4, 2013, 8:47:24 PM
    Author     : Michael
    Description:
        Purpose of the stylesheet follows.
        To... style stuff.... ? #yolo?
*/


body {
    background-image:url('../images/canvas-6.jpg');
}

#canvas-landing{
    width:100%;
}

#canvas{
    z-index:100;
    position:absolute;
    width:70%;
    max-width:80%;
    margin-top:-100%;
    margin-left:16%;
}

.center{
    width:35%;
    position: relative;
    float:left;
    margin:0 5% 0 5%;
}

img{
    max-width:100%;
}

.left-most{
    margin-left:2%;
    width:25%;
    position:relative;
    float:left;
}

.right-most{
    margin-left:2%;
    background-color:#E4D1B6;
    width:25%;
    position:relative;
    float:left;
}


#color-buttons {
    background-color:#E4D1B6;
    margin-top:5%;
    width:100%;
}

#rgb {
    background-color:#E4D1B6;
    width:100%;
}

#hex{
    background-color:#E4D1B6;
    width:100%;
    margin-top:1.5%;
}

#range-set {
    width:100%;
}

#reset {
	margin-left:6%;
}